fastapi
uvicorn[standard]
python-dotenv
nltk
faster-whisper
soundfile
numpy
google-generativeai
pydub
kokoro-tts
llama-cpp-python==0.2.20
onnxruntime
ffmpeg-python
torch
torchvision
torchaudio
transformers
webrtcvad-wheels
scipy
openai
optimum[onnxruntime]
bitsandbytes
psutil
kittentts